/*Police*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}
header {
  background-color: #ccb7ae;
  padding-bottom: 20px;
}
header img {
  width: auto;
  height: auto;
}
h1 {
  margin: 0 0 0 30px;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  font-size: larger;
  text-decoration: none;
}

.conteneur-contenu {
  margin: 50px 20px;
  height: 1500px;
}

img {
  height: 200px;
  width: 200px;
  margin: 30px;
}
/* zoom*/
.photo {
  overflow: hidden;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}
.photo:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

p {
  margin-bottom: 30px;
}

/* container */
.container {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
}

.element {
  margin-bottom: 30px !important;
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 60%;
  -webkit-box-shadow: 2px 3px 3px 2px #ccb7ae;
          box-shadow: 2px 3px 3px 2px #ccb7ae;
  border-radius: 3px;
}

.element:hover {
  border: 1px solid #777;
}

.buttonShow {
  background-color: #ccb7ae;
  color: #4e4a4c;
  font-size: 15px;
  padding: 10px 24px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 2px;
  cursor: pointer;
}

.buttonShow:hover {
  border: 1px solid #777;
}

footer {
  font-size: 14px;
  margin: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #ccb7ae;
}

footer div {
  text-align: center;
  background-color: #ccb7ae;
}

footer p {
  margin-bottom: 0;
}

/*produits boutons plus et moins*/
.quantity {
  padding-top: 20px;
  margin-bottom: 30px;
}

.cart-quantity-input {
  height: 40px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #4e4a4c;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

/*div boutons*/
.shop-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

button[class*=btn] {
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #4e4a4c;
  color: white;
  font-weight: bold;
}
.btn-success {
    margin-right: 20px;
}

/*retourner*/
.return-landing-page {
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #3db7e7;
  font-weight: bold;
  display: block;
  cursor: pointer;
  margin: 40px auto 80px auto;
  text-align: center;
}
.return-landing-page:hover {
  background-color: #4e4a4c;
  color: white;
}

/*ajouter*/
.shop-item-button {
  margin: 40px auto 80px auto;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  background-color: #60ec9a;
  display: inline-block;
}

.shop-item-button:hover {
  background-color: #4e4a4c;
  color: white;
}

/*panier*/
#body-table {
  margin: 10px auto;
  padding: 10px 20px;
}

/*formulaire*/
:required::-webkit-input-placeholder {
  color: #ff5100;
  font-weight: bold;
}
:required:-ms-input-placeholder {
  color: #ff5100;
  font-weight: bold;
}
:required::-ms-input-placeholder {
  color: #ff5100;
  font-weight: bold;
}
:required::placeholder {
  color: #ff5100;
  font-weight: bold;
}

form {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

input[type="text"],
input[type="email"] {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 2px;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #000000;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Responsive*/
@media (max-width: 767px) {
    .element {
      width: 90%;
    }
    .shop-buttons {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
    footer {
      font-size: 90%;
    }
}
