@import url("https://fonts.googleapis.com/css?family=Lato:400,700");


body {
    font-family: 'Lato', sans-serif;
    margin: 0;
	padding: 0;
	border: 0;
}
header {
    background-color:rgb(204, 183, 174);
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0;
    width: 100%;
    
}
header img {
 width: auto;
 height: auto;
}
h1:before {
   /* background-image: url("../img/banniere.png");*/
    background-size: 75%;
    padding: 20px 100px;
    margin-right: 40px;
    content: " ";
    text-align: center;
}

/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}
nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
    margin-bottom: 20px;
}
.conteneur-nav{
    position: absolute;
    width: 100%;
}
nav input[type=checkbox]{
    display: none;
}
nav label{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color:rgb(133, 113, 119);
}
nav ul{
    display: none;
    list-style-type: none;
    background-color: rgb(133, 113, 119);
}
nav input[type=checkbox]:checked + ul{
    display: flex;
    flex-flow : column wrap;
}
nav ul li{
    flex: 1 1 auto;
    text-align: center;
}
nav > div > ul > li > a{
    color: black;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
    text-align: center;
}
nav a:hover{
    color: rgb(214, 207, 203);
    background-color: rgb(133, 113, 119);
}
.sous{
    display: flex;
    flex-flow: column wrap;
    z-index: 1000;
}

.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    background-color: rgb(214, 207, 203);
}

.conteneur-contenu{
  margin: 50px 20px;
  height: 1500px;
}
img {
    height: 200px;
    width: 200px;
    margin: 30px;
}
/* container */
.container {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 60%;
  }
.element {
    margin-bottom: 30px!important;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 60%;
    box-shadow: 2px 3px 3px 2px rgb(204, 183, 174);
    border-radius: 3px;
}


.button {
    background-color: rgb(204, 183, 174);
    color: rgb(78, 74, 76);
    font-size: 15px;
    padding: 10px 24px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }

  footer {
    font-size: 14px;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(204, 183, 174);
}
footer div {
    text-align: center;
}
  @media screen and (min-width: 980px){
    .conteneur-nav{
        position: static;
        margin-bottom: 30px;
    }
    nav label, nav input{
        display: none;
    }
    nav input[type=checkbox]:checked + ul, nav ul{
        display: flex;
        flex-flow: row wrap;
        background-color: white;
    }
    nav ul li{
        position: relative;
    }
    nav > div > ul > li > a{
        color: black;
    }
    nav a{
        border-bottom: 2px solid transparent;
    }
    nav a:hover{
        color: rgb(214, 207, 203);
        border-bottom: 2px solid rgb(133, 113, 119);
    }
    .sous{
        display: none;
        box-shadow: 0px 1px 2px #CCC;
        background-color: white;
        position: absolute;
        width: 100%;
    }
    nav > div > ul li:hover .sous{
        display: flex;
        flex-flow: column wrap;
    }
    .sous a{
        border-bottom: none;
        background-color: white;
    }
    .sous a:hover{
        border-bottom: none;
        background-color: rgb(133, 113, 119);
    }
    .deroulant > a::after{
        content:" ▼";
        font-size: 12px;
    }
}